
{% extends 'base.html' %}
{% block content %}
{{ super() }}



<div class="titles">ABOUT US</div>



<br>



<div class="container">

<div class="text">
<h1>Our History</h1>
<p style="font-size:120%">Once upon a time, three young, dumb, and broke women👩‍👩‍👧who had a shared love for all things baked🧁, had their ‘Eureka’ moment. They realised that other than the occasional indulge, people often shied away from succumbing to their sweet tooth fancies as they would find it to be way out of their budget. So, with a goal to make all bakery products from cakes🎂 and croissants🥐 to pastries🍰 and doughnuts🍩, affordable, The Three Musketeers soon found happiness in managing Bake My Day! and lived happily ever after🌺….</p>
<p style="font-size:160%"><b>What do we believe in?</b></p>
<div class="image">

<img src="{{url_for('static', filename= 'Us.png')}}" style="width:100%;">
</div>
<p style="font-size:120%"> Right from our inception about a year ago, we have constantly updated, added, removed, and improved our products based on customer feedback. Bake My Day has always believed in customer supremacy and will continue to for decades to come. We believe that the sky is the limit when it comes to working towards a united goal of making the world sweeter🥰🥰.</p>
<p >🤫🤫Psst...I heard that Bake My Day! makes people sweeter...It's true!😇🤭🤭</p>
</div>
</div>




</body>
</html>

{% endblock %}