{% extends 'base.html' %}
{% block content %}
{{ super() }}



<div class="row">
    <h2> Our Products: </h2>
    <hr>
    <div class="column">
    <img src="{{url_for('static', filename= 'Classic Black Forest Cake.png')}}" alt="Classic Black Forest Cake" style="width:100%">
    <div class ="middle">
    <a class ="active" href ="#default">
    <img src="{{url_for('static', filename= 'Shopping.png')}}" alt = "Shopping Cart " style="width:25%">
    </a>
    </div>
    <p><b>Classic Black Forest Cake</b></p>
    <p><b>Rs.595</b> </p>
    </div>
    
    <div class="column">
    <img src="{{url_for('static', filename= 'chocoholic cake.png')}}" alt="Chocoholic Cake" style="width:100%">
    <div class ="middle">
    <a class ="active" href ="#default">
    <img src="{{url_for('static', filename= 'Shopping.png')}}" alt = "Shopping Cart " style="width:25%">
    </a>
    </div>
    <p><b>Chocoholic Cake</b></p>
    <p><b> Rs.675</b></p>
    </div>
    
    
    <div class="column">
    <img src="{{url_for('static', filename= 'New York Style Baked Cheesecake.png')}}"alt="New York Style Baked Cheesecake" style="width:100%">
    <div class ="middle">
    <a class ="active" href ="#default">
    <img src="{{url_for('static', filename= 'Shopping.png')}}" alt = "Shopping Cart " style="width:25%">
    </a>
    </div>
    <p><b>New York Style Baked Cheesecake</b></p>
    <p><b> Rs.725 </b></p>
    </div>
    
    
    <div class="column">
    <img src="{{url_for('static', filename= 'Red Velvet Cake.png')}}" alt="Red Velvet Cake" style="width:100%">
    <div class ="middle">
    <a class ="active" href ="#default">
    <img src="{{url_for('static', filename= 'Shopping.png')}}" alt = "Shopping Cart " style="width:25%">
    </a>
    </div>
    <p><b>Red Velvet Cake</b></p>
    <p> <b>Rs.650</b></p>
    </div>
    
    
    <div class="column">
    <img src="{{url_for('static', filename= 'Buttercream Cake.png')}}" alt="Buttercream Cake" style="width:100%">
    <div class ="middle">
    <a class ="active" href ="#default">
    <img src="{{url_for('static', filename= 'Shopping.png')}}" alt = "Shopping Cart " style="width:25%">
    </a>
    </div>
    <p><b>Buttercream Cake</b></p>
    <p> <b>Rs.550</b></p>
    </div>
    </div>
    
    <div class="row">
    
    <div class="column">
    <img src="{{url_for('static', filename= 'Chocolate Cupcake.png')}}"alt="Chocolate Cupcake" style="width:100%">
    <div class ="middle">
    <a class ="active" href ="#default">
    <img src="{{url_for('static', filename= 'Shopping.png')}}" alt = "Shopping Cart " style="width:25%">
    </a>
    </div>
    <p><b>Chocolate Cupcakes (Pack of 6)</b></p>
    <p> <b>Rs.525</b></p>
    </div>
    
    <div class="column">
    <img src="{{url_for('static', filename= 'Butterscotch cupcakes (Pack of 6).png')}}"alt="Butterscotch cupcakes (Pack of 6)" style="width:100%">
    <div class ="middle">
    <a class ="active" href ="#default">
    <img src="{{url_for('static', filename= 'Shopping.png')}}" alt = "Shopping Cart " style="width:25%">
    </a>
    </div>
    <p><b>Butterscotch Cupcakes (Pack of 6)</b></p>
    <p> <b>Rs.600</b></p>
    </div>
    
    <div class="column">
    <img src="{{url_for('static', filename= 'Harry Potter Cupcakes.png')}}"  alt="Harry Potter Cupcakes" style="width:100%">
    <div class ="middle">
    <a class ="active" href ="#default">
    <img src="{{url_for('static', filename= 'Shopping.png')}}" alt = "Shopping Cart " style="width:25%">
    </a>
    </div>
    <p><b>Harry Potter Cupcakes (Pack of 6)</b></p>
    <p> <b>Rs.700</b></p>
    </div>
    
    <div class="column">
    <img src="{{url_for('static', filename= 'Strawberry Cupcakes (Pack of 6).png')}}"alt="Strawberry Cupcakes (Pack of 6)" style="width:100%">
    <div class ="middle">
    <a class ="active" href ="#default">
    <img src="{{url_for('static', filename= 'Shopping.png')}}" alt = "Shopping Cart " style="width:25%">
    </a>
    </div>
    <p><b>Strawberry Cupcakes (Pack of 6)</b></p>
    <p> <b>Rs.530</b></p>
    </div>
    
    <div class="column">
    <img src="{{url_for('static', filename= 'Blueberry Cupcakes.png')}}"alt="Blueberry Cupcakes" style="width:100%">
    <div class ="middle">
    <a class ="active" href ="#default">
    <img src="{{url_for('static', filename= 'Shopping.png')}}" alt = "Shopping Cart " style="width:25%">
    </a>
    </div>
    <p><b>Blueberry Cupcakes (Pack of 6)</b></p>
    <p> <b>Rs.500</b></p>
    </div>

    {% endblock %}
