{% extends 'base.html' %}
{% block content %}
{{ super() }}

<div class="row">
<div class="column">
    <img src="{{url_for('static', filename= 'Dark Knight.png')}}"alt="fuen" style="width:100%">
    <div class ="middle">
    <a class ="active" href ="#default">
    <img src="{{url_for('static', filename= 'Shopping.png')}}" alt = "Shopping Cart " style="width:25%">
    </a>
    </div>
    <p><b>Dark Knight</b></p>
    <p><b>Rs.99</b></p>
    </div>
    
    <div class="column">
    <img src="{{url_for('static', filename= 'divine crush.png')}}"alt="fuen" style="width:100%">
    <div class ="middle">
    <a class ="active" href ="#default">
    <img src="{{url_for('static', filename= 'Shopping.png')}}" alt = "Shopping Cart " style="width:25%">
    </a>
    </div>
    <p><b>Divine Crush</b></p>
    <p><b>Rs.110</b></p>
    </div>
   
    
    <div class="column">
    <img src="{{url_for('static', filename= 'midnight beauty.png')}}"alt="fuen" style="width:100%">
    <div class ="middle">
    <a class ="active" href ="#default">
    <img src="{{url_for('static', filename= 'Shopping.png')}}" alt = "Shopping Cart " style="width:25%">
    </a>
    </div>
    <p><b>Midnight Beauty</b></p>
    <p><b>Rs.85</b></p>
    </div>
   
    
    <div class="column">
    <img src="{{url_for('static', filename= 'rainbow surprise.jpg')}}"alt="fuen" style="width:100%">
    <div class ="middle">
    <a class ="active" href ="#default">
    <img src="{{url_for('static', filename= 'Shopping.png')}}" alt = "Shopping Cart " style="width:25%">
    </a>
    </div>
    <p><b>Rainbow surprise</b></p>
    <p><b>Rs.120</b></p>
    </div>
   
    
    <div class="column">
    <img src="{{url_for('static', filename= 'double trouble.png')}}"alt="fuen" style="width:100%">
    <div class ="middle">
    <a class ="active" href ="#default">
    <img src="{{url_for('static', filename= 'Shopping.png')}}" alt = "Shopping Cart " style="width:25%">
    </a>
    </div>
    <p><b>Double Trouble</b></p>
    <p><b>Rs.90</b></p>
    </div>
    </div>

    <div class="row">
    
    <div class="column">
    <img src="{{url_for('static', filename= 'espresso.jpeg')}}"alt="fuen" style="width:100%">
    <div class ="middle">
    <a class ="active" href ="#default">
    <img src="{{url_for('static', filename= 'Shopping.png')}}" alt = "Shopping Cart " style="width:25%">
    </a>
    </div>
    <p><b>Espresso</b></p>
    <p><b>Rs.90</b></p>
    </div>
  

    <div class="column">
    <img src="{{url_for('static', filename= 'mocha caffe.jpeg')}}"alt="fuen" style="width:100%">
    <div class ="middle">
    <a class ="active" href ="#default">
    <img src="{{url_for('static', filename= 'Shopping.png')}}" alt = "Shopping Cart " style="width:25%">
    </a>
    </div>
    <p><b>Cafe Mocha</b></p>
    <p><b>Rs.80</b></p>
    </div>
  

    <div class="column">
        <img src="{{url_for('static', filename= 'tea.jpeg')}}"alt="fuen" style="width:100%">
        <div class ="middle">
        <a class ="active" href ="#default">
        <img src="{{url_for('static', filename= 'Shopping.png')}}" alt = "Shopping Cart " style="width:25%">
        </a>
        </div>
        <p><b>Tea</b></p>
        <p><b>Rs.75</b></p>
        </div>
      

        <div class="column">
            <img src="{{url_for('static', filename= 'caffe latte.jpeg')}}"alt="fuen" style="width:100%">
            <div class ="middle">
            <a class ="active" href ="#default">
            <img src="{{url_for('static', filename= 'Shopping.png')}}" alt = "Shopping Cart " style="width:25%">
            </a>
            </div>
            <p><b>Cafe Latte</b></p>
            <p><b>Rs.100</b></p>
            </div>
        

            <div class="column">
                <img src="{{url_for('static', filename= 'berry smoothie.jpeg')}}"alt="fuen" style="width:100%">
                <div class ="middle">
                <a class ="active" href ="#default">
                <img src="{{url_for('static', filename= 'Shopping.png')}}" alt = "Shopping Cart " style="width:25%">
                </a>
                </div>
                <p><b>Berry Smoothie</b></p>
                <p><b>Rs.150</b></p>
                </div>
                
            </div>

{% endblock %}